<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NoteGVAandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.NoteGVAandroid.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.NoteGVAandroid.AddCategoryActivity"
            android:parentActivityName="com.NoteGVAandroid.MainActivity" />
        <activity
            android:name="com.NoteGVAandroid.NotesActivity"
            android:parentActivityName="com.NoteGVAandroid.AddCategoryActivity" />
        <activity
            android:name="com.NoteGVAandroid.AddNoteActivity"
            android:parentActivityName="com.NoteGVAandroid.NotesActivity" />
        <activity
            android:name="com.NoteGVAandroid.ViewNotesActivity"
            android:parentActivityName="com.NoteGVAandroid.NotesActivity" />
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_provider" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.NoteGVAandroid.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.input"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>